// <div class="page">
//       <div class="light_bigshell">
//         <div class="light_maintitle"></div>
//         <div class="light_whitebar"></div>
//         <div class="right_bigBar"></div>
//       </div>
//     </div>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.light_bigshell {
  width: 1000px;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  .light_maintitle {
    width: 264px;
    height: 178px;
    // border: 1px solid red;
    font-size: 50px;
    position: absolute;
    left: -3vw;
    span {
      font-size: 100px;
      display: block;
    }
  }
  .light_whitebar {
    width: 5px;
    height: 176px;
    background: #fff;
    position: absolute;
    left: calc(-3vw + 264px + 20px);
    top: 50%;
    transform: translateY(calc(-50% + 10px));
  }
  .right_bigBar {
    width: 40px;
    height: 100vh;
    background: #fff;
    position: absolute;
    right: 0;
  }
}

.bigpage {
  width: 100%;
  height: 2200px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  .bigpage_bigshell {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    .long_bar {
      width: 40px;
      height: 100%;
      background: linear-gradient(to bottom, black, gray, white);
      border: 1px solid #fff;
    }
  }
}
